@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ATH Bike Rental System</h1>
    <p>
        <img src="@Url.Content("~/Images/2.jpg")" width="400" height="400"/>
        <img src="@Url.Content("~/Images/3.jpg")" width="400" height="400"/>
        <img src="@Url.Content("~/Images/1.jfif")" width="400" height="400"/>
    </p>
    <p><a href="Vehicle/Index">Vehicle</a></p>
    <p><a href="LoaningPoint/Index">LoaningPoint</a></p>
    <p><a href="Admin">Admin</a></p>
    <p><a href="RoleManager">RoleManager</a></p>
    <p><a href="user">Users</a></p>
</div>
