@{
    ViewData["Title"] = "View";
}

<h1>Admin Panel</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Admin Panel</td>
        </tr>
        <tr>
            <td><a href="admin/reservation">Reservations</a></td>
        </tr>
    </tbody>
</table>
