@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ATH Bike Rental System</h1>
    <p>Jest sobie wypożyczalnia i wypożycza rowery, hulajnogi, wrotki itp...</p>
    <p>
        <img src="@Url.Content("~/Images/2.jpg")" width="400" height="400"/>
        <img src="@Url.Content("~/Images/3.jpg")" width="400" height="400"/>
        <img src="@Url.Content("~/Images/1.jfif")" width="400" height="400"/>
    </p>
    <p><a href="user/reservation">Reservation</a></p>
</div>
